body {
    font-family: "Lato", sans-serif;
	position:relative;
	width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}


@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

}

.foot{
	color:#568d98;
}

.footer1{
	position:relative;
	height:4%;
	width:100%;
	background:white;
	text-align:center;
}

.intro-section{
	position:relative;
	height:100%;
	width:100%;
	text-align: center;
    background: #568d98;
}

.intro-section1{
	position:relative;
	height:100%;
	width:100%;
	text-align: center;
    background-image: url("pictures.jpg");
	z-index:2;
}

 .rect{
	 position:absolute;
	 top:0%;
	 bottom:0%;
	 left:0%;
	 right:0%;
	 background-color:#568d98;
	 opacity:0.5;
	 z-index:-1;
 }

.title{
	position:relative;
	top:25%;
text-align:center;
}


.subtitle{
	position:absolute;
	top:80%;
	left:37%;
	right:37%;
}


 .social a{
	 color:white;
 }
 
.intro-section2{
	position:relative;
	height:100%;
	width:100%;
	text-align: center;
    background:#90b8c0;
	z-index:-2;
}

.intro-section3{
	position:relative;
	height:100%;
	width:100%;
	text-align: center;
    background:#bcd3db;
	z-index:-1;
}

h1{
	font-family: "PT Sans",sans-serif;
	font-size: 400%;
	font-weight: bold;
	color: white;
	text-align: center;
}

h2{
    font-family: "PT Sans",sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: white;
	text-align: center;
}


.social{
	position:absolute;
	top: 170%;
	z-index:4;
	font-size:200%;
	right:40%;
	left:40%;
}

.navbar {
	position:fixed;
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 50px;
	z-index:3;
}

.navbarI a{
	padding: 0px 60px 9px 0px;
    text-decoration: none;
    font-size: 19px;
    color: #818181;
    display: block;
    transition: 0.4s;
}

.navbar a {
	padding-top:10px;
	padding-bottom:9px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    transition: 0.4s;
	text-align:center;
}


#one:hover{
	 color: #ccf2ff;
     border-right: thick solid #ccf2ff;
}
#two:hover{
	 color: #568d98;
     border-right: thick solid #568d98;
}
#three:hover{
	 color: #90b8c0;
     border-right: thick solid #90b8c0;
}
#four:hover{
	 color: #bcd3db;
     border-right: thick solid #bcd3db;
}
#five:hover{
	 color: #ae697b;
     border-right: thick solid #ae697b;
}
#six:hover{
	 color: #f5a20a;
     border-right: thick solid #f5a20a;
}


#one:focus{
	 color: #ccf2ff;
     background-color:#262626;
     border-right: thick solid #ccf2ff;
}
#two:focus{
	 color: #568d98;
	      background-color:#262626;

     border-right: thick solid #568d98;
}
#three:focus{
	 color: #90b8c0;
	      background-color:#262626;

     border-right: thick solid #90b8c0;
}
#four:focus{
	 color: #bcd3db;
	      background-color:#262626;

     border-right: thick solid #bcd3db;
}
#five:focus{
	 color: #ae697b;
	      background-color:#262626;

     border-right: thick solid #ae697b;
}
#six:focus{
	 color: #f5a20a;
	      background-color:#262626;

     border-right: thick solid #f5a20a;
}


.navbar a:target{
	color: #33ccff;
	background-color:#c2d6d6;
}

.closebtn {
    position:absolute;
	left:10px;
	top:10px;
    font-size: 30px !important;
}

.opener{
	font-size:30px;
	cursor:pointer;
	position:fixed;
	left:10px;
	top:20px;
	color: white;
	text-align: center;
}
.utba{
	 position:absolute;
	 width:70%;
	 height:6%;
	 border:0px solid #fff;
	top:11%;
	left:15%;
}

.utba2{
	 position:absolute;
	 width:70%;
	 height:10%;
	 border:0px solid #fff;
	top:9.5%;
	left:15%;
}

.utba3{
	 position:absolute;
	 width:70%;
	 height:10%;
	 border:0px solid #fff;
	top:9.5%;
	left:15%;
}

.utba4{
	 position:absolute;
	 width:70%;
	 height:15%;
	 border:0px solid #fff;
	top:6.5%;
	left:15%;
}

#down{
    position:absolute;
	font-size:30px;
	color:white;
	top:85%;
    right:50%;
	cursor:pointer;
	z-index:6;
}

head{
	height:100%;
	position:fixed;
	overflow-y: hidden;
    transition: 0.4s;
}

 .rectangle{
	 position:absolute;
	 width:70%;
	 height:25%;
	 border:0px solid #fff;
	 background-color:#568d98;
	top:10%;
	left:15%;
	opacity:0.6;
 }
 
 .mapper{
	position:absolute;
    width: 10%;
    height: 20%;
    background: white;
    border: 0px solid white;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	top:12.5%;
	left:17%;
 }
 
 .rectangle2{
	 position:absolute;
	 width:70%;
	 height:25%;
	 border:0px solid #fff;
	 background-color:#568d98;
	top:40%;
	left:15%;
	opacity:0.6;
 }
 
  .mapper2{
	position:absolute;
    width: 10%;
    height: 20%;
    background: white;
    border: 0px solid white;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	top:42.5%;
	left:17%;
 }
 
 .rectangle3{
	 position:absolute;
	 width:70%;
	 height:25%;
	 border:0px solid #fff;
	 background-color:#568d98;
	top:70%;
	left:15%;
	opacity:0.6;
 }
 
 .mapper3{
	position:absolute;
    width: 10%;
    height: 20%;
    background: white;
    border: 0px solid white;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	top:72.5%;
	left:17%;
 }
 
 
 .rectangle:hover{
	 position:absolute;
	 width:72%;
	 height:27%;
	 border:0px solid #fff;
	 background-color:#568d98;
	top:9%;
	left:14%;
	opacity:0.6;
 }
 
  .rectangle2:hover{
	 position:absolute;
	 width:72%;
	 height:27%;
	 border:0px solid #fff;
	 background-color:#568d98;
	top:39%;
	left:14%;
	opacity:0.6;
 }
 
  .rectangle3:hover{
	 position:absolute;
	 width:72%;
	 height:27%;
	 border:0px solid #fff;
	 background-color:#568d98;
	top:69%;
	left:14%;
	opacity:0.6;
 }

 .box1{
	 position:absolute;
	 width:20%;
	 height:90%;
	 border:0px solid #fff;
	 background-color:#bcd3db;
	top:5%;
	left:10%;
	opacity:0.6;
	z-index:-1;
 }
 
 .header1{
	 position:absolute;
	color:white;
	font-size:100%;
	z-index:0;
	left:11%;
	top:28%;
	right:71%;
}

  .box2{
	 position:absolute;
	 width:20%;
	 height:90%;
	 border:0px solid #fff;
	 background-color:#bcd3db;
	top:5%;
	left:32.5%;
	opacity:0.6;
		z-index:-1;

 }
 
  .header2{
	position:absolute;
	color:white;
	font-size:100%;
	z-index:0;
	left:33.5%;
	right:48.5%;
	top:28%;
}
 
   .box3{
	 position:absolute;
	 width:20%;
	 height:90%;
	 border:0px solid #fff;
	 background-color:#bcd3db;
	top:5%;
	left:55%;
	opacity:0.6;
	z-index:-1;
 }
 
 
  .header3{
	position:absolute;
	color:white;
	font-size:100%;
	z-index:0;
	left:56%;
	right:26%;
	top:28%;
}
 
    .box4{
	 position:absolute;
	 width:20%;
	 height:90%;
	 border:0px solid #fff;
	 background-color:#bcd3db;
	top:5%;
	left:77.5%;
	opacity:0.6;
		z-index:-1;

 }
 
 .header4{
	position:absolute;
	color:white;
	font-size:100%;
	z-index:0;
	left:78.5%;
	right:3.5%;
	top:28%;
 }
 
.circle {
	position:absolute;
    width: 10%;
    height: 20%;
    background: white;
    border: 0px solid white;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	top:7%;
	left:15%;
	opacity:0.6;
	
}

 .circle2 {
	position:absolute;
    width: 10%;
    height: 20%;
    background: white;
    border: 0px solid white;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	top:7%;
	left:37.5%;
	opacity:0.6;
}

.circle3 {
	position:absolute;
    width: 10%;
    height: 20%;
    background: white;
    border: 0px solid white;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	top:7%;
	left:60%;
	opacity:0.6;
}

.circle4 {
	position:absolute;
    width: 10%;
    height: 20%;
    background: white;
    border: 0px solid white;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	top:7%;
	left:82.5%;
	opacity:0.6;
}


 .box1:hover{
	 position:absolute;
	 width:22%;
	 height:92%;
	 border:0px solid #fff;
	 background-color:#bcd3db;
	top:4%;
	left:9%;
	opacity:0.6;
		z-index:-1;

 }
 
  .box2:hover{
	 position:absolute;
	 width:22%;
	 height:92%;
	 border:0px solid #fff;
	 background-color:#bcd3db;
	top:4%;
	left:31.5%;
	opacity:0.6;
		z-index:-1;

 }
 
   .box3:hover{
	 position:absolute;
	 width:22%;
	 height:92%;
	 border:0px solid #fff;
	 background-color:#bcd3db;
	top:4%;
	left:54%;
	opacity:0.6;
		z-index:-1;

 }
 
    .box4:hover{
	 position:absolute;
	 width:22%;
	 height:92%;
	 border:0px solid #fff;
	 background-color:#bcd3db;
	top:4%;
	left:76.5%;
	opacity:0.6;
		z-index:-1;

 }
 }
 
.classy{
	position:absolute;
	left:10%;
	top:0%;
	font-size: 100%;
	color: white;
	font-weight:normal;
 }
 
 .intro-section p{

 }
 
 .intro-section img{
	 position:absolute;
     padding:2px;
	 height:32%;
	 width:13%;
	 border:1px solid white;
	 background-color:#568d98;
	 left:10%;
	 top:10%;
	 margin-right:12px;
	 margin-bottom:8px;
	 margin-top:8px;
 }
 
.page{
margin-left: auto;
    margin-right: auto;
	display:block;
}
 
 .text1{
	position:absolute;
	font-size: 85%;
	color: white;
	font-weight:normal;
	top:10%;
	text-align:left;
	left:26%;
	right:10%;
	}
	
.head1{
	position:absolute;
	top:13%;
	left:29%;
	color:white;
	font-size:100%;
	text-align:left;
	right:25%;
}

.head2{
	position:absolute;
	top:43%;
	left:29%;
	color:white;
	font-size:100%;
	text-align:left;
	right:25%;
}

.head3{
	position:absolute;
	top:73%;
	left:29%;
	color:white;
	font-size:100%;
	text-align:left;
    right:25%;
}
